@model ProductVM
@{
    ViewBag.PageTitle = "Product Managment";
    ViewBag.CardTitle = (Model?.Id > 0 ? "Edit Product" : "Create Product");
 
}
<div class="row">
    <div class="col-md-8">
        <form method="post" action=@(Model?.Id > 0 ? "Edit" : "Create") enctype="multipart/form-data">

            @if (Model?.Id > 0)
            {
                <input hidden asp-for="Id">
                <input hidden  asp-for="Img">
            }
            <div class="form-group m-2">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" placeholder="Enter name">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-group m-2">
                <label asp-for="Discription"></label>
                <input class="form-control" asp-for="Discription" placeholder="Descriptiom">
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>

            <div class="form-group m-2">
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price" placeholder="Descriptiom">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="ImgFile"></label>
                <input class="form-control" asp-for="ImgFile" type="file">

            </div>
            <div class="form-group m-2">
                <label asp-for="CategoryId"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="@Model.Categories">
                    <option disabled selected>-- select --</option>
                </select>
                <span asp-validation-for="@Model.Categories" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-warning">Back to list</a>
        </form>
    </div>

        @if(Model.Img != null)
        {
        <div class="col-md-4 mt-3">
            <img src="~/@Model.Img" width="300" height="300"/>
        </div>
        }
    

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
