@model IEnumerable<Product>


@{
    ViewBag.PageTitle = "Product Managment";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div>
    <a asp-action="Create" class="btn btn-success">Create</a>
</div>
<table id="Products" class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Image</td>
           @*  <td>Category</td> *@
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Discription</td>
                <td>@item.Price</td>
                <td><img src="/Images/Products/@item.Img" class="img-fluid"/></td>
          @*       <td>@item.Category.Name</td> *@
                <td>
                    <a href="Admin/Product/Edit/@item.Id" class="btn btn-warning">Edit</a>
                    <a href="Admin/Product/Delete/@item.Id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

                @section Scripts{
                    <script>
                        $(document).ready(function () {
            let table = new DataTable('#Products');
                        })
                    </script>
                }